@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@700&display=swap');
:root {
  --fuente-titulos: 'Montserrat', sans-serif;
  --fuente-datos: 'Inter', sans-serif;
}
.tipografia-titulo {
   font-family: var(--fuente-titulos);
    letter-spacing: -0.5px;
}
.tipografia-datos {
    font-family: var(--fuente-datos);
    -webkit-font-smoothing: antialiased; /* Hace que la fuente se vea más fina en Mac/Chrome */
}